<!--
  ~ Copyright (c) 2008-2013  David Soergel  <dev@davidsoergel.com>
  ~ Licensed under the Apache License, Version 2.0
  ~ http://www.apache.org/licenses/LICENSE-2.0
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ncbitaxonomy" verbose="1" parallel="false" thread-count="1">
  <test name="ncbitaxonomy" junit="false">
    <!--<packages>
    <package name="edu.berkeley.compbio.phyloutils"/>
  </packages>-->
    <classes>
      <class name="edu.berkeley.compbio.phyloutils.HybridRootedPhylogenyTest"/>
      <class name="edu.berkeley.compbio.ncbitaxonomy.NcbiCiccarelliHybridServiceImplTest"/>
      <class name="edu.berkeley.compbio.ncbitaxonomy.NcbiTaxonomyPhylogenyTest"/>
    </classes>
  </test>
</suite>
